# End to End project

1. Import libraries

In [85]:
import kaggle
import pandas as pd
import numpy as np
import sqlalchemy as sal

2. Download dataset using kaggle api

In [27]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

3. Extract files from zip file

In [28]:
import zipfile
zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

4. Read data from file and handle null values

In [58]:
data=pd.read_csv('orders.csv')
data.head(3)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5

In [59]:
data['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [60]:
data['Ship Mode'].replace(['Not Available','unknown'],np.nan,inplace=True)

5. Rename cloum names into lower case and underscore

In [61]:
data.columns=data.columns.str.lower()
data.columns=data.columns.str.replace(' ','_')

In [62]:
data.head(3)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5

6. Derive some new column discount,sale price,profit

In [63]:
data['discount']=data['list_price']*data['discount_percent']*0.01

In [65]:
data['sale_price']=data['list_price']-data['discount']

In [67]:
data['profit']=data['sale_price']-data['cost_price']

7. Drop cost price,list price and discount percent

In [69]:
data.drop(columns=['cost_price','discount_percent','list_price'],inplace=True)

8. Convert order date from object data type to datetime

In [80]:
data['order_date']=pd.to_datetime(data['order_date'],format='%Y-%m-%d')

9. Load the data int sql server using replace option

In [90]:
engine=sal.create_engine('postgresql://postgres:qaz123%40QAZ@localhost:5432/master')
conn=engine.connect()
data.to_sql('df_orders',con=conn,index=False,if_exists='append')

994